<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tension.dao.ItemDao">

    <resultMap id="itemResult" type="Item">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sellPoint" column="address"/>
        <result property="price" column="price"/>
        <result property="num" column="num"/>
        <result property="image" column="image"/>
        <result property="cid" column="cid"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="barcode" column="barcode"/>
    </resultMap>

    <sql id="columns">id, title, address, price, num, image, cid, status, create_time, update_time, barcode</sql>

    <select id="getItemById" parameterType="java.lang.Long" resultMap="itemResult">
        SELECT
        <include refid="columns"/>
        FROM tb_item
        WHERE id = #{itemId}
    </select>

    <select id="listItemByPage" parameterType="Map" resultMap="itemResult">
        SELECT
        <include refid="columns"/>
        FROM tb_item
        LIMIT #{start},#{end}
    </select>

    <select id="getTotalNum" resultType="java.lang.Long">
        SELECT count(id) FROM tb_item
    </select>

    <insert id="addItem" parameterType="Item">
        INSERT INTO tb_item VALUE (#{id},#{title},#{sellPoint},#{price},#{num},#{image},#{cid},#{status},#{createTime},#{updateTime},#{barcode})
    </insert>
    <insert id="addItemDesc" parameterType="ItemDesc">
        INSERT INTO tb_item_desc VALUE (#{itemId},#{itemDesc},#{createTime},#{updateTime})
    </insert>
</mapper>